<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>


<body>
<center>
    <div class="card" style="width: 750px; margin-top: 50px;">
        <div class="card-header">
            Edit Product
        </div>

        <div class="card-body">
            <form th:action="@{/product/update}" method="POST">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td>
                            <input class="form-control" type="text" id="textID" th:field="${product.num_product_id}"
                                   th:value="${product.num_product_id}" readonly="true"/>
                        </td>
                    </tr>


                    <tr>
                        <td>DESCRIPTION:</td>
                        <td>
                            <input class="form-control" type="text" id="textDesc" th:field="${product.str_description}"
                                   th:value="${product.str_description}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>PRICE:</td>
                        <td>
                            <input class="form-control" type="number" step="any" id="textPrice"
                                   th:field="${product.num_price}"
                                   th:value="${product.num_price}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>STOCK:</td>
                        <td>
                            <input class="form-control" type="number" id="textStock" th:field="${product.num_stock}"
                                   th:value="${product.num_stock}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>STATUS:</td>
                        <td>
                            <input class="form-control" type="text" id="textStatus" th:field="${product.chr_status}"
                                   th:value="${product.chr_status}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>CONSOLE:</td>
                        <td>
                            <input class="form-control" type="number" id="textConsole" th:field="${product.num_console_id}"
                                   th:value="${product.num_console_id}"/>
                        </td>
                    </tr>

                </table>
                <input class="btn btn-primary" type="submit" value="Save">

                <a class="btn btn-danger" href="/product" role="button">Cancel</a>


            </form>

        </div>
    </div>
</center>
</body>


<footer>
    <div style="text-align: center; margin-top: 100px;">Copyright - Cibertec 2019 ®</div>
</footer>

</html>